html, body, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
}

p {
  position: absolute;
  top: 720px;
  left: 10px;
}
