html, body, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
  width: calc(100vh * 1.0666666666666667);
  height: 100vh;
  margin: 0 auto;
  background-color: blue;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

p {
  text-align: center;
}

body {
  overflow: hidden;
  height: 100%;
}

html {
  overflow: hidden;
  height: 100%;
}

.info {
  font-family: monospace;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
